<!--En la que ya estas iniciado sesión y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\css\busquedasUsuario.css">
    <link rel="icon" type="img/png" href="\img\favicon404.png">
    <title>Busqueda Usuario</title>
</head>
<body>

    <%-include("paginaPrincipal")%>
    <div class="titulo2">
        <h2>Usuarios</h2>
    </div>

    <div class="filtrador">
        <form method="POST" action="/usuario/filtrarUsuario">
            <input class= "inFil" type="search" name="buscadorUsuario">
            <button class="filtrar" type="submit">Filtrar</button>
        </form>
    </div>

    <div class="contenedorUsuarios">
        
        <%usersList.forEach(function(user){%>
            <div class="usuario">
                <div class="imagen">
                    <img src="/usuario/imagenUsuario/<%=user.imagen%>">
                </div>
                <div class="nombre">
                    <a class="estiloEnlace" href="/usuario/perfilUsuario/<%=user.id%>"><%=user.nombre%></a>
                </div>
                <div class="reputacion">
                    <h3><%=user.reputacion%></h3>
                </div>
                <%listaEtiquetas.forEach(function(e){%>
                    <%if(e.id==user.id && e.etiquetaMax != null){ %>   
                    <div class="tags">
                        <a class="tag" href="/pregunta/preguntasEtiqueta/<%=e.etiquetaMax%>"><%=e.etiquetaMax%></a>
                    </div>
                    <%}%>
                <%})%>
            </div>
        <%})%>
    </div>

</body>
</html>