<!--En la que ya estas iniciado sesión y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\css\perfilUsuario.css">
    <link rel="icon" type="img/png" href="">
    <title>Perfil Usuario</title>
</head>
<body>
    
    <%-include("paginaPrincipal")%>
    
    <!--ESTADISTICAS-->
    <div class= "contenedorEstadisticas">
        <div class="datosUsuario">
            <div class="imagenPerfil">
                <img src="/imagenUsuario/<%=u.imagen%>">
            </div>
            <div class="nombrePerfil">
                <a class="estiloEnlace"><%=u.nombre%></a>
            </div>
            <div class="fechaAlta">
                <h3>Miembro desde <%=u.fecha.toDateString()%></h3>
            </div>
        </div>
        <!--grid-->
        <div  class="estadisticas">
            <div class="seccion"> 
                <div><strong>ESTADISTICAS</strong></div> 
            </div>

            <div class="reputacion">
                <div>Reputación</div>
                <div><%=u.reputacion%></div>
            </div>

            <div class="preguntas">
                <div>Preguntas</div>
                <div><%=u.contPreguntas%></div>
            </div>

            <div class="respuestas">
                <div>Respuestas</div>
                <div><%=u.contRespuestas%></div>
            </div>
        </div>
    </div>

    <!--MEDALLAS-->

    <div class="medallas">
        <div class="seccion2"> 
            <div><strong>MEDALLAS</strong></div> 
        </div>

        <div class="bronce">
            <div>BRONCE</div>
            <div><%=cantidadB%></div>
        </div>

        <div class="plata">
            <div>PLATA</div>
            <div><%=cantidadP%></div>
        </div>

        <div class="oro">
            <div>ORO</div>
            <div><%=cantidadO%></div>
        </div>

        <!--cada conjunto tendrá x logros-->
        <div class="conj">
            <%bronces.forEach(function(b){%>
            <div class= logros>
                <div class="logro"><%=b.nombre%></div>
                <%if(b.cantidad>1){ %>
                    <div class="multi">x <%=b.cantidad%></div>
                <%}%>
            </div>
            <%})%>
        </div>
       
        <div class="conj">
            <%platas.forEach(function(p){%>
            <div class= logros>
                <div class="logro"><%=p.nombre%></div>
                <%if(p.cantidad>1){ %>
                    <div class="multi">x <%=p.cantidad%></div>
                <%}%>
            </div>
            <%})%>
        </div>
        
        
        <div class="conj">
            <%oros.forEach(function(o){%>
            <div class= logros>
                <div class="logro"><%=o.nombre%></div>
                <%if(o.cantidad>1){ %>
                    <div class="multi">x <%=o.cantidad%></div>
                <%}%>
            </div>
            <%})%>
        </div>

    </div>


</body>
</html>