<!--En la que ya estas iniciado sesi칩n y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\css\perfilUsuario.css">
    <link rel="icon" type="img/png" href="">
    <title>Perfil Usuario</title>
</head>
<body>
    
    <%-include("paginaPrincipal")%>
    
    <!--ESTADISTICAS-->
    <div class= "contenedorEstadisticas">
        <div class="datosUsuario">
            <div class="imagenPerfil">
                <img src="/imagenUsuario/<%=usuario.imagen%>">
            </div>
            <div class="nombrePerfil">
                <a class="estiloEnlace"><%=usuario.nombre%></a>
            </div>
            <div class="fechaAlta">
                <h3>Miembro desde <%=usuario.fecha.toDateString()%></h3>
            </div>
        </div>
        <!--grid-->
        <div  class="estadisticas">
            <div class="seccion"> 
                <div><strong>ESTADISTICAS</strong></div> 
            </div>

            <div class="reputacion">
                <div>Reputaci칩n</div>
                <div><%=usuario.reputacion%></div>
            </div>

            <div class="preguntas">
                <div>Preguntas</div>
                <div>218</div>
            </div>

            <div class="respuestas">
                <div>Respuestas</div>
                <div>218</div>
            </div>
        </div>
    </div>

    <!--MEDALLAS-->

    <div class="medallas">
        <div class="seccion2"> 
            <div><strong>MEDALLAS</strong></div> 
        </div>

        <div class="bronce">
            <div>BRONCE</div>
            <div>5</div>
        </div>

        <div class="plata">
            <div>PLATA</div>
            <div>3</div>
        </div>

        <div class="oro">
            <div>ORO</div>
            <div>2</div>
        </div>

        <!--cada conjunto tendr치 x logros-->
        <div class="conj">
            <div class= logros>
                <div class="logro">Pregunta tacat치</div>
                <div class="multi">x2</div>
            </div>
        </div>

        <div class="conj">
            <div class= logros>
                <div class="logro">Pregunta plata</div>
                <div class="multi">x2</div>
            </div>
            <div class= logros>
                <div class="logro">Pregunta plata</div>
                <div class="multi">x2</div>
            </div>
        </div>

        <div class="conj">
            <div class= logros>
                <div class="logro">Pregunta oro</div>
                <div class="multi">x2</div>
            </div>
            <div class= logros>
                <div class="logro">Pregunta oro</div>
                <div class="multi">x2</div>
            </div>
            <div class= logros>
                <div class="logro">Pregunta oro</div>
                <div class="multi">x2</div>
            </div>
        </div>


    </div>


</body>
</html>