<!--Vista tras dar al botón de preguntas-->
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <link rel="stylesheet" href="..\css\preguntas.css">
    <link rel="icon" type="img/png" href="">
    <title>Preguntas</title>
</head>

<body>
    <%-include("paginaPrincipal")%>

    <div class="titulo2">
        <h2><%=msg%></h2>
    </div>

    <div class="contenedorPreguntas">
        <div class="contadorBoton">
            <div class="contador">
                <estilo1>
                    <%if(numPreguntas==1){ %>
                        <%=numPreguntas%> pregunta
                    <%}else{%>   
                        <%=numPreguntas%> preguntas
                    <%}%>
                </estilo1>
            </div>
            <div class="formularPregunta">
                <a href="/formularPregunta">
                    <button class="formular" type="submit">Formular Pregunta</button>
                </a>
            </div>
        </div>

        <div class="preguntasUsuarios">
            <%qList.forEach(function(q){%>
            <div class="contenidoPregunta">
                <div class="contenido">
                    <div class=c>
                        <a href="/infoPregunta/<%=q.idPregunta%>" class="estiloP"><%=q.titulo%></a>
                    </div>
                    <div class=c>
                        <estilo2><%=q.cuerpo.substring(0, 150)%></estilo2>
                        <%if(q.cuerpo.length>150){ %>
                            <estilo2>...</estilo2>
                        <%}%>
                    </div>
                    <%if(q.tags[0] != null){ %>
                    <div class="tags c">
                        <%q.tags.forEach(function(e){%>
                            <%if(e != "null"){ %>
                                <div class=tag><a href="/preguntasEtiqueta/<%=e%>"><%=e%></a></div>
                            <%}%>
                        <%})%>
                    </div>
                    <%}%>
                </div>
                <div class="usuario">
                    <div class="fecha c">
                        <estilo2>Formulada el <%=q.fecha.toDateString()%></estilo2>
                    </div>
                    <div class="imagen c">
                        <img src="/imagenUsuario/<%=q.imagen%>">
                    </div>
                    <div class="nombre c">
                        <a href="/perfilUsuario"><%=q.nombre%></a>
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>

</body>

</html>